<ion-view view-title="Configurações">


  <ion-content>
   
<!--        <i class="ion-settings"></i>
    <i class="ion-settings"></i>
    <i class="ion-settings"></i>
    <i class="ion-settings"></i>
    <i class="ion-settings"></i>
    <i class="ion-settings"></i> -->
    
  
   <button class="button button-block button-Stable" ng-click="irConta()">Conta</button>
</ion-item>
  <button class="button button-block button-Stable">Atualizar aplicativo</button>
</ion-item>
  <button class="button button-block button-Stable">
  Convide seus amigos</button>
  
</ion-item>
 <button class="button button-block button-Stable">Denuncie
 </button>
</ion-item></button>
</button> 



      
  

  </ion-content>
</ion-view>
