<ion-view view-title="Playlist">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>Anitta</h2>
        <p>Paradinha</p>
      </div>
      <div class="item item-image">
        <img src="img/anitta.jpg">
      </div>
      <a class="item item-icon-left assertive" href="https://www.youtube.com/watch?v=-73pafJ9RFg">
        <i class="icon ion-music-note"></i>
        Começar a tocar...
      </a>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>Coldplay</h2>
        <p>Paradise</p>
      </div>
      <div class="item item-image">
        <img src="img/coldplay.jpg">
      </div>
      <a class="item item-icon-left assertive" href="https://www.youtube.com/watch?v=1G4isv_Fylg">
        <i class="icon ion-music-note"></i>
        Começar a tocar...
      </a>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar.png">
        <h2>Justin Bieber</h2>
        <p>Sorry</p>
      </div>
      <div class="item item-image">
        <img src="img/justin.jpg">
      </div>
      <a class="item item-icon-left assertive" href="https://www.youtube.com/watch?v=fRh_vgS2dFE">
        <i class="icon ion-music-note"></i>
        Começar a tocar...{{valorhome}}
        
      </a>
    </div>

  </ion-content>
</ion-view>
